{% extends 'Base.html' %}
{% block title %}Login{% endblock %}

{% block head %}
{% endblock %}

{% block body %}
    {% block content %}
    <div class="container" id="forgotPassword">
            <form method="POST">
                <h1 class="header">Reset password</h1>
                <div id="resetField" class="inputFields">
                    <input type="code" id="code" name="code" placeholder= "Reset Code...">
                    <button id="resetBtn" class="btn" type="submit" name="sendCode" value="sendCode">Confirm</button>
                </div>
                <div class="socialMediaLinks">
                    <a href="https://twitter.com/Bot_Bird_" >
                        <img class="social" src="{{ url_for('static', filename='img/twitterGray.png') }}" alt="twitter">
                    </a>
                    <a href="https://github.com/Nicklas-Eriksson">
                        <img class="social" src="{{ url_for('static', filename='img/githubGray.png') }}" alt="github">
                    </a>
                    <a href="https://www.linkedin.com/feed/">
                        <img class="social" src="{{ url_for('static', filename='img/linkedInGray.png') }}" alt="linkedIn">
                    </a>
                </div>
                <div class="swapPage">
                    <p>Back to login</p>
                    <button class="btn" type="submit" name="swapBtn" value="swap">Login</button>
                </div>
            </form>
    </div>
    <img class="logo" src="{{ url_for('static', filename='img/BlackCircle.png') }}" alt="Logo">
    <img class="decoratioin" src="{{ url_for('static', filename='img/BirdsOnString2.png') }}" alt="Decoratioin">
    {% endblock %}
{% endblock %}